.prform {
      
    max-width: 600px;
    margin: 20px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    
}
.title{
    margin-bottom: 6%;
}

.btn-edit
 {
    background-color: rgb(173, 32, 32);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    width: 300px;
    align-items: center;
    
}
.btn-edit:hover
 {
    background-color: #e9b31f;
}

.input-formP {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    text-align: left;
    background-color: white;
}



/* Media query pour les appareils de petite taille */
@media screen and (max-width: 768px) {
    .wrapper {
        width: 80%;
    }
}

/* Media query pour les appareils de très petite taille */
@media screen and (max-width: 480px) {
    .wrapper {
        width: 90%;
    }
}
