.placeTitle {
   text-align: center;
}

.placeTitle {
   font-size: xx-large;
   padding: 25px 0;
}

.renderHomeContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 5%;
   background-color: var(--clr-4);
}

.renderHomeContainer2 {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.filter1 {
   width: 100%;
   height: 15vh;
   background-color: var(--clr-5);
   border-radius: 10px 10px 10px 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

.filterSearch {
   width: 70%;
   height: 40%;
   border-radius: 50px;
   border: 1px solid gray;
}

.filterSearch::placeholder {
   font-size: 30px;
   position: absolute;
   top: 7px;
   left: 10px;
}

.filter2 {
   width: 15vw;
   height: 75vh;
   background-color: var(--clr-5);
   border-radius: 0 0 10px 10px;
}

.cityFilter {
   margin: 0 0 10% 5%;
}

.categoriesFilterCity {
   width: 80%;
}

.categoriesFilter {
   display: flex;
   flex-direction: column;
   margin-left: 5%;
}

.categoriesFilterTitle {
   margin-bottom: 3%;
}

.renderPlacesContainer {
   display: flex;
   flex-direction: column;
   align-items: end;
}

.placeContainer {
   width: 70vw;
   height: 20vh;
   padding: 5px;
   margin: 3% 0 3% 0;
   box-shadow: 0px 0px 3px black;
   display: flex;
   flex-direction: row;
   gap: 10%;
   background-color: var(--clr-5);
}

.placeElement {
   display: flex;
   flex-direction: column;
   width: 40vw;
}

.placeImageElement {
   width: 20vw;
   height: 20vh;
   border: 1px solid gray;
}

.placeNameElement {
   font-size: x-large;
}

.placeCityElement,
.placeCategoriesElement {
   font-size: large;
}

.placeNameElement,
.placeCityElement,
.placeCategoriesElement {
   color: black;
   margin-top: 2%;
}

.placeCategoriesElement {
   margin-right: 3%;
}

.categoriesContainer {
   display: flex;
   flex-direction: row;
}
