/* Styles de base */
.place-form {
    max-width: 600px;
    margin: 20px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    text-align: center;
}

.place-form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: rgb(0, 0, 0);
}

.error-message {
    color: #ff0000;
    margin-top: -10px;
    margin-bottom: 15px;
}

.btn-center {
    text-align: center;
    margin-top: 20px; /* Espacement du haut pour séparer du formulaire */
}

/* Styles pour les boutons */
.btn-center button,
.btn-center input[type="submit"] {
    background-color: rgb(173, 32, 32);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.btn-center button:hover,
.btn-center input[type="submit"]:hover {
    background-color: #e9b31f;
}

/* Styles responsives */
@media screen and (max-width: 768px) {
    .place-form {
        padding: 15px;
    }

    .form-input {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .place-form {
        max-width: 90%;
    }

    .form-input {
        font-size: 12px;
    }

    .btn-center button,
    .btn-center input[type="submit"] {
        padding: 8px 12px;
        font-size: 12px;
    }
}
