.RegisterContainer {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacement entre les éléments */
    align-items: center;
    max-width: 300px;
    width: 100%;
    box-sizing: border-box; /* largeur maximale comprend padding et bordure */
    margin-top: 15%; /* Centrer horizontalement */
    margin-left: 40%;
    background-color: var(--clr-3);
}

.RegisterLastname,
.RegisterFirstname,
.RegisterEmail,
.RegisterPassword,
.RegisterPseudo,
.RegisterBirthday,
.RegisterStatus,
.RegisterButton {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(5px);
    color: white;
    font-size: 16px;
    outline: none;
    margin-bottom: 2%;
    align-items: center;
    box-sizing: border-box; /* largeur maximale comprend padding et bordure */
}

.RegisterEmail::placeholder,
.RegisterPassword::placeholder {
    color: white;
}

.RegisterBirthday {
    height: 40px; /* hauteur */
}

.RegisterStatus,
.RegisterStatus:hover {
    cursor: pointer;
    transition: background 0.3s ease;
}

p {
   color: white;
}

/* Media query pour les appareils de petite taille */
@media screen and (max-width: 768px) {
    .RegisterContainer {
        width: 80%;
    }
}

/* Media query pour les appareils de très petite taille */
@media screen and (max-width: 480px) {
    .RegisterContainer {
        width: 90%;
    }
}
