.container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;
   width: 100%;
   background-color: var(--clr-4);
   padding-top: 10px;
   margin-top: 50px;
 
}

/* Logo Styles /
.logo {
    grid-column: 1;
}

/ infos Styles /
.infos {
    grid-column: 2;
    text-align: left;
}

/ Links Styles */
.links {
   grid-column: 3;
   text-align: right;
   display: flex;
   flex-direction: column;
   align-items: left;
}

div.infos a,
u {
   color: rgb(0, 0, 0);
   text-decoration: none;
}

nav.links a {
   color: rgb(0, 0, 0);
   text-decoration: none;
   padding-right: 10px;
}

.links div {
   margin-bottom: 10px;
}
.copy {
   text-align: center;
   padding-top: 3px;
   padding-top: 3px;
   background-color: var(--clr-3);
}
.logo {
   width: 110px;
   
 }
@media (max-width: 768px) {
   .logo {
      display: none;
   }
   .container {
      display: flex;
      padding: 0 8% 0 8%;
   }

   .infos {
      font-size: 80%;
   }
   .links {
      font-size: 80%;
   }
   .container {
     padding: 0;
   }
}
