
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
   background-color:rgb(174, 172, 172);
    margin: 0 auto;
}

/* Logo Styles /
.logo {
    grid-column: 1;
}

/ infos Styles /
.infos {
    grid-column: 2;
    text-align: left;
}

/ Links Styles */
.links {
    grid-column: 3;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: left;
}

div.infos a, u {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

nav.links a {
color:white;
text-decoration: none;
}

.links div {
    margin-bottom: 10px;
}
.copy {
    text-align: center;
    padding-top: 3px;
    padding-top: 3px;
    background-color: rgba(221, 221, 221, 0.993);
}


@media (max-width: 500px) {

.logo {
    display: none;
}
  .container{
    display:flex;
  padding: 0 8% 0 8%;
  }

.infos {
    font-size: 80%;
}
.links {
    font-size: 80%
}

}