.LoginContainer {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    gap: 20px;
    align-items: center;
    max-width: 300px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 15%;
    margin-left: 40%;
}

.loginEmail,
.loginPassword,
.loginButton,
.buttonRegister,
.buttonOublier {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(5px);
    color: white;
    font-size: 16px;
    outline: none;
    margin-bottom: 2%;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    transition: background 0.3s ease;
}

.loginEmail::placeholder,
.loginPassword::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

button:hover {
    background: var(--clr-3);
}

p {
    color: white;
}

/* Media query pour les appareils de petite taille */
@media screen and (max-width: 768px) {
    .LoginContainer {
        width: 80%;
    }
}

/* Media query pour les appareils de très petite taille */
@media screen and (max-width: 480px) {
    .LoginContainer {
        width: 90%;
    }
}
