:root {
   --clr-1: #231202;
   --clr-2: #a11202;
   --clr-3: #f59004;
   --clr-4: #fbf5cf;
   --clr-5: #fffdfa;
   font-family: Arial Narrow, sans-serif;
}

body {
   background-color: var(--clr-5);
}

* {
   margin: 0;
   padding: 0;
}
